@import url("http://fonts.googleapis.com/css?family=Lato");
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../../components/sass/_base.scss */
body {
  padding: 10px;
}

/* line 1, ../../../components/sass/_layout.scss */
.display {
  display: inline-block;
  font-size: 1.25rem;
}

/* line 6, ../../../components/sass/_layout.scss */
button {
  margin-right: 10px;
}

/* line 1, ../../../components/sass/_modules.scss */
h1 {
  font-size: 3rem;
  margin: 20px 0px;
}

/* line 6, ../../../components/sass/_modules.scss */
h2 {
  font-size: 2rem;
  margin: 20px 0px;
}

/* line 11, ../../../components/sass/_modules.scss */
#mainDisplay, #insertCoin {
  margin-bottom: 20px;
}

/* line 15, ../../../components/sass/_modules.scss */
table {
  margin-bottom: 20px;
}
/* line 17, ../../../components/sass/_modules.scss */
table th, table td {
  padding: 5px;
}
/* line 20, ../../../components/sass/_modules.scss */
table th {
  font-weight: bold;
}

/* line 25, ../../../components/sass/_modules.scss */
pre {
  font-family: monospace;
}

/*# sourceMappingURL=style.css.map */
